pipeline/pipeline1_baza_lookup_foreach_jeden_dataset.json
{
	"name": "pipeline1_baza_lookup_foreach_jeden_dataset",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.2:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT schema_name(schema_id) as 'schema', name FROM sys.tables where  schema_name(schema_id) = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "1",
							"table_schema": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.2:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "truncate table testab3.@{item().name}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@item().schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().name",
											"type": "Expression"
										},
										"table_schema": {
											"value": "@variables('table_schema_target')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "String"
			},
			"table_schema": {
				"type": "String"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"table_schema_source": {
				"type": "String",
				"defaultValue": "SalesLT"
			},
			"table_schema_target": {
				"type": "String",
				"defaultValue": "testab3"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-21T12:39:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}